<h2>Upcoming games!!!</h2>

<% if (data.length == 0) { %>
 
    <p>No event found :(</p>
<% } else {%>
    <% for(let key in data) {%>
        <h3><%= key %></h3>
        <ul>
            <% for( let i = 0; i < data[key].length; i++ ) { %>
                <%- include ('eventcard.ejs', { data: data[key][i] , isList: true }) -%>
            <% } %>
        </ul>
    <% } %>
<% } %>
