<% if (data.length == 0) { %>
 
    <div class="message">
        <%- include ('message.ejs', { messageTitle: 'International break?', messageSubTitle: "Sorry, we couldn't find any upcoming events!" }) -%>
    </div>

<% } else {%>
    <h2>Upcoming games</h2>

    <% for(let key in data) {%>
        <h3><%= key %></h3>
        <ul>
            <% for( let i = 0; i < data[key].length; i++ ) { %>
                <%- include ('eventcard.ejs', { data: data[key][i] , isList: true }) -%>
            <% } %>
        </ul>
    <% } %>
<% } %>
