<meta charset="UTF-8">
<meta name="author" content="Maijla Ikiz">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>WFUT</title>

<!-- <link rel="icon" href="/images/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/manifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#4195d1">
<meta name="msapplication-TileColor" content="#4195d1"> -->
<meta name="theme-color" content="#0D0F13">

<link href="/static/index.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<!-- FONT AWESOME -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">