 <div class="marquee">
    <% for( let index = 0; index < 4; index++ ) { %>
        <div class="marquee-content scroll">
            <h2 class="text-block"><%= heading %></h2>
        </div>
    <% } %>
    
</div>
