<div class="message__content">
    <h2><%= messageTitle %></h2>
    <p><%= messageSubTitle %></p>

    <!-- <div class="message__content-extra">
        <img class="icon" src="/images/arrow-direction.svg" alt="">
    </div> -->
</div>