<ul class="cards cards--thumb cards--list" data-team-list>
    <% for(let i=0; i < data.length; i++) {%>

        <li class="card__item">
            <a href="/team-details/<%= data[i].idTeam %>">
                <picture class="team__logo">
                    <source width="35" height="auto" srcset="<%= data[i].strTeamBadgeWebp ?? data[i].strTeamBadge %>" type="image/webp">
                    <img width="35" height="auto" src="<%= data[i].strTeamBadge %>" alt="<%= data[i].strTeam %>">
                </picture>
            </a>
        </li>

    <% } %>

</ul>