<header>
    <a class="btn btn--back" href="javascript: history.go(-1)"><i class="icon fas fa-chevron-left"></i></a>

    <span class="circle"></span>
    <div class="logo-wrapper">
        <img class="logo" src="<%= teamData.strTeamBadge %>" alt="<%= teamData.strTeam %>">
        <div>
            <h1>Overview</h1>
            <h2><%= teamData.strTeam %></h1>
        </div>
    </div>
</header>