<header class="fixedHeader">
    <a class="btn btn--back" href="/"><i class="icon fas fa-chevron-left"></i></a>

    <span class="circle"></span>
    <div class="logo-wrapper">
        <picture class="logo">
            <source srcset="<%= teamData.strTeamBadgeWebp ?? teamData.strTeamBadge %>" type="image/webp">
            <img src="<%= teamData.strTeamBadge %>" alt="<%= teamData.strTeam %>">
        </picture>
        <div>
            <h1>Overview</h1>
            <h2><%= teamData.strTeam %></h1>
        </div>
    </div>
</header>