<section class="widget widget--<%= (typeof widgetClass == 'undefined' ? partial : widgetClass) %>" data-widget-<%= partial ?? (typeof widgetClass == 'undefined' ? '' : widgetClass) %>>
    <%- include (`loader.ejs`, { className: 'loader--widget' }) -%>
    <div data-widget-content>
        <%- include (`${partial}.ejs`, {data: data }) -%>
    </div>
</section>