<section class="widget widget--<%= (typeof widgetClass == 'undefined' ? partial : widgetClass) %>" data-widget-<%= partial ?? (typeof widgetClass == 'undefined' ? '' : widgetClass) %>>
    <%- include (`${partial}.ejs`, {data: data }) -%>
</section>