<main class="home">

    <%- include ('partials/header.ejs') -%>
   
    <% if (typeof allData == 'undefined') { %>

        <%- include ('partials/message.ejs', { messageTitle: 'Hmm', messageSubTitle: 'No events found'}) -%>
    <% } else { %>  

        <% for( let i = 0; i < allData.length; i++ ) { %>

            <%- include ('partials/widget.ejs', { partial: allData[i].partial, widgetClass: allData[i].className, data: allData[i].data }) -%>
            
    
        <% } %>
    


    <% } %>

    <!-- <section class="widget widget--game">
        
    </section> -->

</main>