<main>

    <%- include ('partials/header.ejs') -%>
    
    <% if (typeof allData == 'undefined') { %>

        <%- include ('partials/widget.ejs', { partial: 'message', messageTitle: 'Hmm', messageSubTitle: 'No events found'}) -%>
    <% } else { %>   

        <%- include ('partials/widget.ejs', { partial: 'teamlist', heading: 'WSL Teams', data: allData.leagueTeams}) -%>

    <% } %>

</main>