<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') -%>
    </head>
    
    <body class="<%= fs.existsSync("views/"+view+".ejs") ? (typeof bodyClass == 'undefined' ? '' : bodyClass) : 'error' %>">
        
        <!-- TODO: styling -->
        <!-- <noscript>
            NO JAVASCRIPT!!!! PANIEK!!!
        </noscript> -->

        <% if ( fs.existsSync("views/"+view+".ejs") ) { %>
            <%- include (view) -%>
        <% } else { %>
            <%- include ('blanco', { 'partial': './partials/message', 'messageTitle': 'Oops!', 'messageSubTitle': 'Template does not exists...'}) -%>
        <% } %>

        <script>
            window.addEventListener('load', function() {
                navigator.serviceWorker
                .register("/service-worker.js")
                .then((registration) => {
                    // registration worked
                    console.log("Registration succeeded.");

                    // caches.delete('v1');
                })
                .catch((error) => {
                    // registration failed
                    console.error(`Registration failed with ${error}`);
                });
            });
        </script>

        <!-- <script src="/src/js/homeData.js"></script> -->

    </body>
</html>