<main>

    <%- include ('partials/offline-header.ejs') -%>
    
    <div class="solid-body">
        <p>It seems that you do not have internet connection!</p>
        <p>Don't worry, maybe it'll come back to you later</p>
    </div>

    <a class="btn" href="/">Check home page</a>
</main>